@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face{
    font-family:"Defonte";
    src:url("./assets/fonts/De-Fonte-Plus-Demi-Gras-bold.woff2");
    font-weight:bold;
}
@font-face{
    font-family:"Jetbrains";
    src:url("./assets/fonts/JetBrains-mono-bold.woff2");
    font-weight:bold;
}
@font-face{
    font-family:"Saans";
    src:url("./assets/fonts/Saans-trial-light.woff2");
    font-weight:300;
}
@font-face{
    font-family:"Saans";
    src:url("./assets/fonts/Saans-trial-medium.woff2");
    font-weight:500;
}
@font-face{
    font-family:"Saans";
    src:url("./assets/fonts/Saans-trial-black.woff2");
    font-weight:700;
}
@theme{
    --font-defonte:"Defonte",sans-serif;
    --font-saans:"Saans",sans-serif;
    --font-jetbrains:"Jetbrains",sans-serif;
    --breakpoint-3xl:1950px;
}
.container{
    @apply w-full max-w-full m-auto px-5 py-5
}
body{
    font-family:"Saans",sans-serif;
    font-weight: 500;
    background-color: #1d1d1d;
    overflow-x:hidden;
}
.dark body{
    background-color:white;
}

#root{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}
.filter{
    filter: url(#threshold) blur(.3px);
    -webkit-filter: url(#threshold) blur(0.3px);
}
.project-overlay{
    position:relative;
}
.project-overlay::after{
    content:"";
    position:absolute;
    display:block;
    inset:0;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,#1d1d1d 10%,transparent)
}

.custom-line {
  height: 1px; /* سماكة الخط */
  width: 100%; /* عرض الخط */
  background: repeating-linear-gradient(
    90deg,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.6) 10px,
    transparent 10px,
    transparent 25px
  );
  clip-path: inset(0px 50%);
}
